@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --color-primary: #040d4a;
  --color-secondary: #161e47;
  --scale: 0.95;
  --maxwidth-sectionMain: calc(960px * var(--scale));
  --width-sectionMain: calc(90% * var(--scale));
  --maxwidth-sectionProject: calc(85% * var(--scale));
}

body,
p,
li,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-secondary);
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  color: var(--color-secondary);
}

* {
  box-sizing: border-box;
}

/*----------------------------------*/
/* GRANDS ÉCRANS > 960px */
h1 {
  font-weight: 400;
  font-size: calc(70px * var(--scale));
  letter-spacing: calc(-2.8px * var(--scale));
  line-height: calc(120% * var(--scale));
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 500;
  font-size: calc(26px * var(--scale));
  line-height: 100%;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 500;
  font-size: calc(18px * var(--scale));
  line-height: normal;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

h5 {
  font-weight: 400;
  font-size: calc(18px * var(--scale));
  line-height: calc(160% * var(--scale));
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

p,
li {
  font-size: calc(16px * var(--scale));
  letter-spacing: -0.2px;
  line-height: calc(150% * var(--scale));
  margin: 0;
  padding: 0;
}

.textlink {
  font-weight: 400;
  font-size: calc(16px * var(--scale));
  letter-spacing: -0.2px;
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

.textlink:hover {
  color: #51600b;
  text-decoration: underline;
}

.subtext {
  font-weight: 400;
  font-size: calc(14.4px * var(--scale));
  line-height: calc(1.4em * var(--scale));
}

.subtextBoldlink {
  font-weight: 500;
  font-size: calc(13.4px * var(--scale));
  line-height: calc(20px * var(--scale));
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

.subtextBoldlink:hover {
  color: #51600b;
  text-decoration: underline;
}

.mintext {
  font-weight: 400;
  font-size: calc(12px * var(--scale));
  line-height: normal;
}

.toc-link {
  display: block;
  font-size: calc(13px * var(--scale));
  text-decoration: none;
  transition: color 0.2s ease;
}

.toc-link:hover {
  color: rgba(4, 13, 74, 1);
}

.waving-hand {
  animation: wave-animation 2.5s infinite;
  animation-delay: 12s;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.responsive-image {
  width: calc(278px * var(--scale));
  height: calc(278px * var(--scale));
  float: right;
  margin-left: calc(20px * var(--scale));
  border-radius: 8px;
}
.section {
  width: var(--width-sectionMain);
  height: auto;
  max-width: var(--maxwidth-sectionMain);
  margin: 0 auto;
  box-sizing: border-box;
}

/*----------------------------------*/
/* ÉCRANS ≤ 960px */
@media (max-width: 960px) {
  h1 {
    font-size: clamp(48px, 5vw, calc(70px * var(--scale)));
  }
  h2 {
    font-size: clamp(18px, 3vw, calc(26px * var(--scale)));
  }
  h3 {
    font-size: clamp(14px, 2.5vw, calc(15px * var(--scale)));
  }
  h5 {
    font-size: clamp(12px, 2vw, calc(18px * var(--scale)) px);
  }
  p,
  li,
  .textlink {
    font-size: clamp(12px, 2.5vw, calc(16px * var(--scale)) px);
  }

  .subtext {
    font-size: clamp(10px, 2.5vw, calc(14.4px * var(--scale)) px);
  }

  /* IMAGE RÉACTIVE */
  .responsive-image {
    width: clamp(150px, 25vw, calc(278px * var(--scale)));
    height: auto;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 38px;
  }
  .responsive-image {
    width: 25%;
  }
}
